.container {
  padding: 5em 1em 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
  }

  @media screen and (max-width: 600px) {
    padding: 2em 13px;

    .background {
      display: none;
    }
  }
}

.button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #6b63b5;
  color: white;
  width: 288px;
  height: 57px;
  font-size: 17px;
  border-radius: 4px;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  &.btnActive {
    background-color: rgb(107, 99, 181);
  }

  @media screen and (max-width: 600px) {
    width: 45%;
    font-size: 13px;
  }
}

.characterCard {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  width: 50%;
  max-width: 515px;
  margin-bottom: 50px;

  // CHARACTER  IMG
  .characterLeft {
    padding: 20px;
    display: flex;
    align-items: center;

    .characterImg {
      width: 169px;
      height: 169px;
      border-radius: 50%;
      object-fit: cover;
    }

    // HOUSE COLOR

    &.Gryffindor {
      background: linear-gradient(135deg, #ff0000 0%, #fed482 100%);
    }

    &.Slytherin {
      background: linear-gradient(135deg, #1c792b 0%, #82e95e 100%);
    }

    &.Ravenclaw {
      background: linear-gradient(135deg, #0597b7 0%, #66d1ff 100%);
    }

    &.Hufflepuff {
      background: linear-gradient(135deg, #ffc700 0%, #fff388 100%);
    }
  }

  // CHARACTER DATA

  .characterRight {
    padding: 20px;
    width: 100%;

    .cardRightHeader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .characterStatus {
        color: #9999;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    .cardRightBody {
      color: #374a59;

      .characterName {
        font-weight: 600;
        font-size: 30px;
        line-height: 46px;
        margin: 21px 0;
      }

      .characterData {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        margin: 0.5em 0;

        span {
          font-weight: 400;
        }
      }
    }
  }

  // MOBILE
  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: 48%;

    .characterLeft {
      padding: 0.5em;

      justify-content: center;
      .characterImg {
        width: 70px;
        height: 70px;
      }
    }

    .characterRight {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0.5em;

      .cardRightHeader {
        order: 2;

        .characterStatusSeparator {
          display: none;
        }
      }

      .cardRightBody {
        order: 1;

        .characterName {
          text-align: center;
          font-size: 18px;
          margin: 0;
        }
      }

      .characterData {
        display: none;
      }
    }
  }
}

.inputComponent {
  input {
    display: block;
    border-radius: 5px 5px 0 0;
    background: rgba(138, 150, 156, 0.1);
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    margin-top: 5px;

    border: none;
    border-bottom: 1px solid rgb(38, 50, 56);
  }
}

.radio {
  font-size: 16px;

  label {
    display: flex;
    align-items: center;
    text-transform: none;
    cursor: pointer;
  }

  span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 4px solid #dadada;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: all 420ms ease;

    &:before {
      position: absolute;

      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: transparent;
      border: 4px solid #fff;
      border-radius: 50%;
      transition: all 420ms ease;
    }
  }

  input {
    display: none;

    &:checked {
      + label {
        span {
          border-color: #0e4da4;

          &:before {
            background-color: #0e4da4;
          }
        }
      }
    }
  }
}
