body {
  background-color: #000;

  button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
  }

  label {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
  }
}

.buttonsMainContainer {
  button:first-child {
    margin-right: 117px;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:first-child {
      margin: 0;
    }
  }
}

.charactersContainer {
  display: flex;
  margin-top: 100px;
  width: 90%;
  max-width: 1100px;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
