.container {
  padding: 5em 1em 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
  }
}

.button {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #6b63b5;
  color: white;
  width: 288px;
  height: 57px;
  font-size: 17px;
  border-radius: 4px;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  &:active {
    background-color: rgb(107, 99, 181);
  }
}
